@model Instructor

@{
    ViewData["Title"] = "Delete";
}

<h3>@ViewData["Title"]</h3>
<hr />
<h5>Are your sure you want to delete this?</h5>

<div>
    <dl class="dl-horinzontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstagramAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstagramAddress)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>